/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar {
  --sb-track-color: #eef6f9;
  --sb-thumb-color: #293d6d;
  --sb-size: 6px; /* increase size for visibility */
}

/* WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

/* Firefox support */
@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: thin;
  }
}
